@import url("https://fonts.googleapis.com/css?family=EB+Garamond");

.custom-jumbotron {
  height: 250px;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 20px;
  font-family: "EB Garamond", serif;
  background-color: #b5c7cb;
  /* background-image: ('../../Images/camperbeach.jpg') */
}
body {
  font-family: "EB Garamond", serif;
  text-align: right;
}

img {
  width:100%;
}
:root {

}
.Site {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}
.Site-content {
 flex: 1 0 auto;
 padding: var( — space) var( — space) 0;
 width: 100%;
 height: 60px;
}
.Site-content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var( — space);
  height: 0;
  visibility: hidden;
}
