@import url("https://fonts.googleapis.com/css?family=EB+Garamond");

/* .navbar {
  background: url('./images/traveLife_logo.png');
} */

.rounded-mx-auto-d-block {
  width: 45%;
  height: 25%;
}
.navbar {
  background: none!important;
}
.jumbotron {
  background: url('./images/road.png'); 
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  text-shadow:2px 2px #000000;
}
body {
  font-family: "EB Garamond", serif;
  text-align: right;
}

img {
  width:100%;
}
.Site {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}
.Site-content {
 flex: 1 0 auto;
 padding: var( — space) var( — space) 0;
 width: 100%;
 height: 60px;
}
.Site-content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var( — space);
  height: 0;
  visibility: hidden;
}

.fa-lg {
  padding: 10px;

}