@import url("https://fonts.googleapis.com/css?family=EB+Garamond");

.custom-jumbotron {
  height: 250px;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 20px;
  font-family: "EB Garamond", serif;
  background-color: #b5c7cb;
  /* background-image: ('../../Images/camperbeach.jpg') */
}